apiVersion: v1
kind: Service
metadata:
  name: garage
spec:
  type: ClusterIP
  ports:
    - name: s3-api
      port: 3900
      targetPort: 3900
    - name: admin-api
      port: 3903
      targetPort: 3903
