apiVersion: v1
kind: ServiceAccount
metadata:
  name: esphome
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: esphome-hostaccess
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:openshift:scc:hostaccess
subjects:
  - kind: ServiceAccount
    name: esphome
