apiVersion: apps/v1
kind: Deployment
metadata:
  name: vaultwarden
  labels:
    app: vaultwarden
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: vaultwarden
  template:
    metadata:
      labels:
        app: vaultwarden
    spec:
      serviceAccountName: vaultwarden
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
      containers:
        - name: vaultwarden
          image: vaultwarden/server:1.35.2
          securityContext:
            privileged: true
            runAsUser: 0
          ports:
            - containerPort: 80
              name: http
              protocol: TCP
          env:
            - name: TZ
              value: America/New_York
            - name: DOMAIN
              value: https://vaultwarden.apps.majora.home.lab
            - name: SIGNUPS_ALLOWED
              value: "false"
            - name: INVITATIONS_ALLOWED
              value: "true"
            - name: SHOW_PASSWORD_HINT
              value: "false"
            - name: WEBSOCKET_ENABLED
              value: "true"
            - name: LOG_LEVEL
              value: info
            - name: ADMIN_TOKEN
              valueFrom:
                secretKeyRef:
                  name: vaultwarden
                  key: ADMIN_TOKEN
          volumeMounts:
            - name: data
              mountPath: /data
          resources:
            requests:
              memory: 64Mi
              cpu: 50m
            limits:
              memory: 256Mi
              cpu: 500m
          startupProbe:
            httpGet:
              path: /alive
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
            failureThreshold: 60
          livenessProbe:
            httpGet:
              path: /alive
              port: 80
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /alive
              port: 80
            periodSeconds: 10
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: vaultwarden-data
