apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich
resources:
  - namespace.yaml
  - rbac.yaml
  - secret.yaml
  - postgres-statefulset.yaml
  - postgres-service.yaml
  - redis-deployment.yaml
  - redis-service.yaml
  - pvc.yaml
  - immich-deployment.yaml
  - immich-service.yaml
  - tailscale-ingress.yaml
  - route.yaml
